h1 {
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  text-align: center;
  text-decoration: underline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  border-radius: 5px;
  display: flex;
  width: 80%;
  margin: auto auto;
}
p {
  text-indent: 1cm;
  font-size: 22px;
  font-family: cursive;
  font-style: oblique;
  padding: 5px 100px;
}
#color-switch {
  text-align: end;
}
.btn {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px grey solid;
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
}
#white {
  background-color: aliceblue;
}
#orange {
  background-color: coral;
}
#aqua {
  background-color: aqua;
}
#black {
  background-color: black;
}
