* {
  margin: 0;
  border: 0;
}
body {
  text-align: center;
  padding: 10%;
  font-size: 25px;
  font-style: oblique;
  background-color: black;
  color: white;
  overflow: hidden;
}

#container {
  background-color: rgba(28, 230, 31, 0.854);
  width: 70%;
  margin: 8px auto;
  padding: 60px;
  padding-bottom: 90px;
  border-radius: 10px;
  overflow: auto;
}
.tem {
  display: inline-block;
  margin: 0px;
  text-align: left;
  font-weight: 600;
  text-indent: 0.3em;
}
label {
  margin-bottom: 5px;
  font-size: 25px;
  font-family: serif;
  font-style: normal;
  color: rgb(25, 16, 5);
}
.inp {
  margin-top: 10px;
  font-size: 28px;
  text-align: center;
  padding: 5px;
}
@media screen and (max-width: 700px) {
  #container {
    width: 80%;
    margin: 0 auto;
  }
}
